<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DocTruyen</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/NovelDetails.css" />
    <link rel="stylesheet" href="~/css/Zephyr.css" />
    <link rel="stylesheet" href="~/DocTruyen.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container d-flex">
                <div class="col-md-12 d-flex align-items-center">
                    <div class="col-md-1 align-items-start">
                        <a class="navbar-brand" href="#">
                            <img class="mtclogo" src="~/Images/mtc.png" />
                        </a>
                    </div>
                    <div class="col-md-1 align-items-start ">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <form class="col-md-4 ml-auto footer-subscribe p-0 d-flex">
                        <input type="text" class="form-control" placeholder="Search &hellip;">
                        <button type="submit" class="btn btn-ountline-rounded"><i class="fa fa-search"></i></button>
                    </form>

                    <div class="col-md-2">
                    </div>
                    <div class="col-md-1 align-items-end">
                        <a class="nav-link" href="#">Đăng nhập</a>
                    </div>
                    <div class="col-md-1 align-items-end">
                        <a class="nav-link" href="#">Đăng ký</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container mt-5">
        <footer class="border-top footer text-muted mt-5 text-center">
            
                &copy; 2022 - DocTruyen
            
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
