<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">404 Not Found</h1>
        <hr />
        <h3 class="text-info">@ViewBag.ErrorMassage</h3>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Chapters" asp-action="Create">Quay Lại</a>
    </div>
</div>
