<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">404 Not Found</h1>
        <hr />
        <h3 class="text-info">Trang mà bạn tìm kiếm không tồn tại</h3>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Trang Chủ</a>
    </div>
</div>
