@model DocTruyen.Service.VMs.Novels.UploadNovelVM

@{
    ViewData["Title"] = "Thêm Mới";
}

<h1>Thêm Mới</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="UploadNovel" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row mt-3 bg-light">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control mt-1" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row mt-3 ">
                <div class="row">
                    <label for="rbtn_exist" style="cursor:pointer" class="control-label">
                        <input asp-for="IsExsitAuthor" value="true" checked type="radio" id="rbtn_exist" />
                        Chọn tác giả đã có
                    </label>
                    <select asp-for="AuthorId" class="form-control mt-1" id="is_exist" asp-items="@(new SelectList(@Model.Authors,"Id","Name"))"></select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
                <div class="row mt-3">
                    <label for="rbtn_new" style="cursor:pointer" class="control-label">
                        <input asp-for="IsExsitAuthor" value="false" type="radio" id="rbtn_new" />
                        Thêm tác giả mới
                    </label>
                    <input asp-for="AuthorName" class="form-control mt-1" id="is_new" />
                    <span asp-validation-for="AuthorName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mt-3 ">
                <label asp-for="CategoryId" class="control-label "></label>
                <select asp-for="CategoryId" class="form-control mt-1" asp-items="@(new SelectList(@Model.Categories,"Id","Name"))"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group row mt-3 ">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control mt-1 w-100" id="novel_desc" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group row mt-3">
                <label asp-for="Image" class="control-label"></label>
                <div class="custom-file mt-1">
                    <input asp-for="Image" class="form-control custom-file-input" />
                    <label class="custom-file-label"></label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function() {
            $('.custom-file-input').on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('custom-file-lable').html(fileName);
            });
        });
    </script>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#novel_desc'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
    <script>
        $("input:radio").click(function() {
            if ($(this).val() == "true") {
                $('#is_exist').removeAttr('disabled');
                $('#is_new').attr('disabled', 'disabled');
                console.log($(this).val());
            } else {
                $('#is_new').removeAttr('disabled');
                $('#is_exist').attr('disabled', 'disabled');
                console.log($(this).val());
            }
        });
    </script>
}